@use '@/app/mixins' as *;

// @include adaptiv-value("margin-top", 100, 30);

.header {
    max-width: 100%;

    @media screen and (max-width: 768px) {
        padding: 10px 0;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);

    .header_top {
        margin-bottom: 0;
    }
}

.header_top {
    max-height: 60px;
    width: 100vw;
    opacity: 1;
    overflow: hidden;
    background-color: var(--gray);
    transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        padding 0.3s ease,
        transform 0.3s ease;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.header_top_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.header_top_hidden {
    transition: all 0.3s ease;
    max-height: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}

.header_wrapper {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        justify-content: space-between;
    }

    >* {
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:first-child {
            margin-right: 0;
        }
    }
}

.headerPopupButton {
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
    transition: background-color 0.3s ease;

    flex: 0 0 auto;

    @media screen and (max-width: 560px) {
        display: none;
    }
}

.header_menu_button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    width: 0;
    margin-right: 0;

    flex: 0 0 auto;

    @media screen and (max-width: 768px) {
        opacity: 1;
        pointer-events: auto;
        width: auto;
        margin-right: 20px !important;
    }
}

.header_menu_button_visible {
    opacity: 1;
    pointer-events: auto;
    width: auto;
    margin-right: 20px !important;
}

.header_top_right {
    a {
        font-weight: 500;
    }
}

.header_logo {
    @media screen and (max-width: 560px) {
        width: 90px;
        height: 45px;
    }
}