@use '@/app/mixins' as *;

// @include adaptiv-value("margin-top", 100, 30);

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    cursor: pointer;

    span {
        font-weight: 500;
        font-size: 14px;
        color: var(--black);
    }
}

.card_count {
    position: absolute;
    top: -15px;
    right: 0;
    background-color: var(--blue);
    color: #fff !important;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;

    @media (max-width: 560px) {
        top: -8px;
        right: 50px;
    }
}