@use '@/app/mixins' as *;

// @include adaptiv-value("margin-top", 100, 30);

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.card_count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}