@use '@/app/mixins' as *;

.hero {
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    margin-top: 50px;

    @media (max-width: 768px) {
        margin-top: 150px;
    }
}

.hero_item {
    position: relative;
    padding: 40px 35px;
    border-radius: 35px;
    min-height: 427px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.hero_item_content {
    position: relative;
    z-index: 1;
}

.hero_title {
    font-weight: 700;
    @include adaptiv-value("font-size", 36, 24);
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        -1px -1px 2px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    line-height: 1.1;

    max-width: 680px;
}

.hero_description {
    max-width: 680px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #ffffff;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        -1px -1px 2px rgba(0, 0, 0, 0.8);
}

.custom_pagination {
    position: absolute;
    bottom: 40px;
    right: 40px;
    left: auto !important;

    gap: 5px;
    height: 30px;

    max-width: 100px;

    --swiper-pagination-bottom: 40px;
    --swiper-pagination-right: 40px;
    --swiper-pagination-left: auto;
    z-index: 1;

    @media (max-width: 768px) {
        bottom: 0 !important;
        right: 50%;
        transform: translateX(50%);
    }

}

.hero_image {
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
        border-radius: 35px;
        object-fit: cover;
    }
}

.hero_button_wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 30px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }
}

.hero_button {

    span {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.1;
        color: #ffffff;
        margin-bottom: 10px;
        text-shadow:
            2px 2px 4px rgba(0, 0, 0, 0.8),
            -1px -1px 2px rgba(0, 0, 0, 0.8);
    }

}