@use '@/app/mixins' as *;

// @include adaptiv-value("margin-top", 100, 30);

.header {
    color: #fff;
    padding: 10px;

    h1 {
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

.form_item {
    margin-bottom: 25px;
}

.input {
    width: 100%;
    border-radius: 10px;
    padding: 13px 13px 13px 20px;
    background-color: #d9d9d9;

    font-weight: 400;
    font-size: 16px;
    color: #000000;

    &::placeholder {
        color: #939393;
    }
}

.form_button {
    width: 100%;
    border-radius: 10px;
    padding: 17px 15px 17px 15px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border: 1px solid var(--blue);

    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    margin-bottom: 15px;

    &:hover {
        background-color: var(--white);
        color: var(--blue);
        border-color: var(--blue);
    }
}

.form_button_aside {}

.checkbox_wrapper {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;

    span {
        font-weight: 400;
        font-size: 12px;
        color: #000;
        line-height: 1.2;
        text-align: left;
    }

    a {
        font-weight: 400;
        font-size: 12px;
        color: #000;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}

.checkbox {
    border-radius: 5px;
    width: 21px;
    height: 21px;
    background: #e8e8e8;
}

.error_message {
    color: #ff0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    text-align: left;
    margin-top: 5px;
}

.success_message {
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    color: green;

    margin-top: 20px;
}

// стили для формы в aside

.aside_button {
    background-color: var(--white);
    color: var(--blue);
    border-color: var(--white);
}

.aside_form {
    span {
        color: var(--white) !important;
    }

    a {
        color: var(--white) !important;
    }
}