@use '@/app/mixins' as *;
// @include adaptiv-value("margin-top", 100, 30);

.headerCatalogMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: none;
    border: none;
    border: 1px solid var(--blue);
    cursor: pointer;

    background-color: var(--blue);
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 10px;

    transition: all 0.3s ease;

    @media screen and (max-width: 768px) {
        display: none;
    }

    svg rect {
        fill: var(--white);
    }

    &:hover {
        color: var(--blue);
        background-color: var(--white);

        svg rect {
            fill: var(--blue);
        }
    }

    &.active {
        background-color: #E3E4E7;
        color: var(--blue);

        svg rect {
            fill: var(--blue);
        }
    }
}

.headerCatalogMenu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 876px;
    border-radius: 15px;
    padding: 20px;
    z-index: 1000;

    border: 0.30px solid #314077;
    background: var(--white);
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.headerCatalogMenuList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.headerCatalogMenuItem a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}

.headerCatalogMenuItem img {
    background-color: var(--blue);
    border-radius: 5px;
}

.headerCatalogMenuWrapper {
    @media screen and (max-width: 560px) {
        display: none;
    }
}